.SplitPane {
    width: 100%;
    height: 100%;

}
/* #root {
  height: 100%;
} */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: 'inline-flex';
    max-width: 1024;
    height: 100%;
    width: 100%;


}
html, body, #root {
    width: 100%;
    height: 100%;
}


.SplitPane-left {
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 12%;
    margin-right: 2%;
    height: 93%;
}

.SplitPane-right {
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 86%;
    height: 93%;
}

.LeftContent {
    margin-left: 5%;
    width: 100%;
    /* height: 90%;  */
    background: lightgray;
}

.RightContent {
    margin-right: 3%;
    width: 95%;
     /*height: 100%;*/
    background: #f2f1f2;
    /*box-sizing: border-box;*/
    /* background: red; */
}

.SplitPane {
    /*width: 100%;*/
    /*height: 100%;*/

}
/* #root {
  height: 100%;
} */
.ClassList {
    background: blue;
    height: 60%;
    margin-bottom: 3%;
}

.Settings {

    height: 6em;
    /*padding-top: 1.5em;*/
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2em;
    border: 1px solid blue;
}
.CName {
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
    margin-top: 1em;
    height: 3.5em;
    width: 51%;
}
.BtnImport {
    /*background: rebeccapurple;*/
    width: 20%;
    margin-left: 27%;
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
    height: 3.5em;

    /*padding-left: 7%;*/
    /*padding-right: 7%;*/

}
.Add_Students {
    background: yellow;
    /*height: 12em;*/
    padding: 1%;
    margin-bottom: 2em;
    border: 1px solid black;


}
.LName {
    background: yellow;

    height: 3.5em;

    margin-right: 1%;
    margin-bottom: 1em;

    width: 25%;

}
.FName {
    background: gray;

    height: 3.5em;

    margin-right: 1%;
    width: 25%;
}

.Email {
    background: orange;

    margin-right: 10%;
    height: 3.5em;

    width: 25%;
}
.Github {
    background: green;

    margin-right: 1%;
    height: 3.5em;

    width: 25%;
}
.Huntr {
    background: yellow;
    height: 3.5em;

    margin-right: 1%;
    width: 25%;
}
.BtnAdd {

    height: 3.5em;

    margin-right: 1%;
    width: 5%;
}