* {
    box-sizing: border-box;
}

.APP__CLASSLIST {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.APP__CLASSCARD {
    border: 2px solid black;
    padding: 2.5%;
    margin: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px #888888;
}

.APP__CLASSCARD button {
    margin-left: 5px;
    box-shadow: 2px 2px 2px #888888;
}

.APP__CNAME {
    margin: 0;
}

.APP__ADDCLASS__SOLO {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.APP__ADDCLASS__CARD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 2px solid black;
    padding: 2.5%;
    margin: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px #888888;
}

.APP__ADDCLASS__BUTTONWRAPPER {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.APP__ADDCLASS_ADDBUTTON {
    align-self: center;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border: solid black 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #888888;
}