.rgstr__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  padding: 5%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: wheat;
}

.rgstr__header {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}

.rgstr__error {
  font-weight: bold;
  color: rgb(214, 64, 72);
}

.rgstr__input {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 5px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
}

.rgstr__btn {
  background-color: rgb(46, 158, 182);
  height: 35px;
  width: 50%;
  min-width: 200px;
  margin: 0 auto;
}

.rgstr__login {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
