/* 
    The entire leaderBoard page is devided into 3 sections

    THIS SECTION CONTAINS ONLY THE LEADERBOARD'S CSS

    top-row:
        contains 3 section:
            Cohort
            ActivityFeed
            How many ppl got hired
            Every time you read "top" you know that you are in this section, and the classnames are speaking for themselves
    mid-row:
        contains 2 section:
            Weekly-LeaderBoard
            Overall-LeaderBoard

            !!! IMPORTANT !!! Both weekly and overall leaderboard have mid-weekly__ name since both looks the same!

            Every time you read "mid" in a classname you know that you are in this section
    bottom-row:
        contains 2 section:
            Github leader
            Huntr Leader

            "bottom" stands for this section

*/


.main-wrapper {
    height: 100%;
    border: 3px solid black;
    margin: .2rem;
}




.mid-row {
    display: flex;
    justify-content: space-around;
    height: 50%;
    padding: 5px;
}

.mid-top-title {
    margin-right: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.mid-weekly__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 87%;
}


.mid-list {
    border-bottom: 1px solid lightgray;
    border-right: 2px solid lightgray;
}

.mid-title-name{
    margin-right: 4px;
}
.mid-title {
    display: flex;
    width: 100%;
    height: 8%;
    align-self: flex-start;
    padding-left: 0px;
    
}

.mid-weekly__name {
 
    width: 100%;
    display: flex;
    justify-content: column;  
    flex-wrap: wrap;
}
.mid-weekly__rest {

    width: 18.33%;
    align-items: center;
    padding-left: .2rem;
}
.mid-overall__name {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}
.mid-overall__rest {
    width: 18.33%;
    align-items: center;
}
.mid-weekly h5 {
    margin-top: -10px;
    background-color: #f2f1f2;
    margin-left: 8px;
    margin-bottom: 0px;
}
.mid-weekly {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1.5%;
    width: 50%;
    border: 3px solid black;
    margin-right: 0.2%;
}

.mid-weekly__containers {
    display: flex;
    height: 100%;
    overflow-y: scroll; 
    align-items: flex-start;
}

.mid-overall {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1.5%;
    width: 50%;
    border: 3px solid black;
    margin-right: 0.2%;
}
.mid-overall h5 {
    margin-top: -10px;
    background-color: #f2f1f2;
    margin-left: 8px;
}
