.login__container {
  width: 100%;
  padding: 5% 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.login__welcome {
  margin: 0;
}

.login__message {
  width: 45%;
}

.login__form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login__labelcontainer {
  display: flex;
}

.login__label {
  margin-right: 15px;
  font-weight: bold;
}

.login__error {
  color: red;
}

.login__input {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 5px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
}

.login__btn {
  background-color: rgb(77, 176, 83);
  height: 35px;
}

.login__register {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
